<% content_for :title, "MyHtls - Hotel Premium" %>
<% content_for :head do %>
  <link rel="icon" href="/assets/images/icons/logohtl.png" type="image/png" />
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="/assets/css/home.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<% end %>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top hotel-navbar">
  <div class="container-fluid px-5">

    <!-- LEFT : LOGO -->
    <div class="navbar-left d-flex align-items-center gap-3">
      <a href="/home"><img src="/assets/images/icons/logohtl.png" class="hotel-logo"></a>
      <a href="home.html" class="hotel-title MyHtls" style="text-decoration: none; color: #ce763c;">MyHtls</a>
    </div>

    <!-- TOGGLER -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- CENTER & RIGHT -->
    <div class="collapse navbar-collapse" id="navMenu">

      <!-- CENTER MENU -->
      <ul class="navbar-nav navbar-center position-absolute start-50 translate-middle-x gap-4">
        <li class="nav-item">
          <a class="nav-link active" href="home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/booking/">Riwayat Pesanan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/booking/new">Pesan Sekarang</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
      </ul>

      <!-- RIGHT AUTH -->
      <ul class="navbar-nav ms-auto gap-3 navbar-auth">
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= button_to "Logout",
                    destroy_user_session_path,
                    method: :delete,
                    form: { data: { turbo: "false" } }, # Matikan turbo jika logout bermasalah
                    class: "btn btn-danger" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Register", new_user_registration_path, class: "btn btn-primary register" %>
    </li>
  <% end %>
</ul>

    </div>
  </div>
</nav>

<!-- ================= HERO ================= -->
<section class="hero-section">
  <div class="hero-overlay"></div>

  <div class="container hero-content text-center text-white">
    <h1 class="brand-title MyHtls">MyHtls</h1>
    <p class="hero-subtitle">Hotel Dengan Pelayanan Terbaik</p>

    <h1>Sponsor Utama :</h1>
    <iframe frameborder="0" src="https://itch.io/embed/4431423" width="552" height="167"><a href="https://everrnight.itch.io/rendezvous">Rendezvous by EverrNight</a></iframe>

    <!-- SEARCH BOX -->
    <div class="search-box-grid">

  <!-- DATE -->
  <div class="search-card" id="dateToggle">
    <medium>Tanggal Menginap</medium>
    <div class="search-value">
      <i class="bi bi-calendar-event"></i>
      <input type="text" id="dateInput" readonly placeholder="Pilih tanggal">
    </div>

    <div class="popup date-popup" id="datePopup"></div>
  </div>

  <!-- GUEST -->
  <div class="search-card" id="guestToggle">
    <medium>Tamu & Kamar</medium>
    <div class="search-value">
      <i class="bi bi-people"></i>
      <span id="guestValue">2 Dewasa, 0 Anak, 1 Kamar</span>
    </div>

    <div class="popup guest-popup" id="guestPopup">
    <div class="counter">
      <span>Dewasa</span>
      <div>
        <button class="minus" data-type="adult">−</button>
        <span id="adultCount">2</span>
        <button class="plus" data-type="adult">+</button>
      </div>
    </div>

    <div class="counter">
      <span>Anak</span>
      <div>
        <button class="minus" data-type="child">−</button>
        <span id="childCount">0</span>
        <button class="plus" data-type="child">+</button>
      </div>
    </div>

    <div class="counter">
      <span>Kamar</span>
      <div>
        <button class="minus" data-type="room">−</button>
        <span id="roomCount">1</span>
        <button class="plus" data-type="room">+</button>
      </div>
    </div>
  </div>
  </div>

  <!-- ROOM -->
  <div class="search-card" id="roomToggle">
    <medium>Kelas Kamar</medium>
    <div class="search-value">
      <i class="bi bi-door-open"></i>
      <span id="roomValue">Semua Kelas</span>
    </div>

    <div class="popup room-popup" id="roomPopup">
      <ul class="room-options">
        <li data-value="Semua Kelas">Semua Kelas</li>
        <li data-value="Kelas Bawah">Kelas Duluxe</li>
        <li data-value="Kelas Menengah">Kelas Normal</li>
        <li data-value="Kelas Atas">Kelas Bisnis</li>
        <li data-value="Kelas Luxury">Kelas Luxury</li>
      </ul>
    </div>
  </div>

  <button class="btn-booking">
    <i class="bi bi-search"></i>
    Cari 
  </button>
</div>

  </div>
</section>

<!-- ================= ROOM SECTION ================= -->
<section class="rooms">
  <div class="rooms-header text-center">
    <h2 class="title-rooms">Kamar Tersedia</h2>
    <p class="section-subtitle">Pilihan terbaik untuk Anda</p>
    <div class="title-line"></div>
  </div>


  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <!-- ROOM 1 -->
      <div class="swiper-slide">
        <div class="room-card">
          <div class="room-img">
            <img src="/assets/images/galeri/rich.webp" alt="Room">
              <div class="price-tag">Rp 120.000 <span>/ Malam</span></div>
            </div>

            <div class="room-content">
              <h2>Kelas Duluxe</h2>

              <div class="room-meta">
                <span>👥 2 Tamu</span>
                <span>🛏 1 Kasur</span>
              </div>

              <div class="room-divider"></div>

              <div class="room-bottom">
                <div></div>
                <%= link_to "Pesan Sekarang", new_booking_path(room_level: "Duluxe"), class: "book-btn text-decoration-none d-inline-block text-center" %>
              </div>
            </div>
          </div>
        </div>

      <!-- ROOM 2 -->
      <div class="swiper-slide">
        <div class="room-card">
          <div class="room-img">
            <img src="/assets/images/galeri/average.jpg" alt="Room">
              <div class="price-tag">Rp 500.000 <span>/ Malam</span></div>
            </div>

            <div class="room-content">
              <h2>Kelas Normal</h2>

              <div class="room-meta">
                <span>👥 2 Tamu</span>
                <span>🛏 1 Kasur</span>
              </div>

              <div class="room-divider"></div>

              <div class="room-bottom">
                <div></div>
                <%= link_to "Pesan Sekarang", new_booking_path(room_level: "Normal"), class: "book-btn text-decoration-none d-inline-block text-center" %>
              </div>
            </div>
          </div>
        </div>

      <!-- ROOM 3 -->
      <div class="swiper-slide">
        <div class="room-card">
          <div class="room-img">
            <img src="/assets/images/galeri/poor.webp" alt="Room">
              <div class="price-tag">Rp 700.000 <span>/ Malam</span></div>
            </div>

            <div class="room-content">
              <h2>Kelas Bisnis</h2>

              <div class="room-meta">
                <span>👥 2 Tamu</span>
                <span>🛏 2 Kasur</span>
                <span>📶 Wi-Fi</span>
              </div>

              <div class="room-divider"></div>

              <div class="room-bottom">
                <div></div>
                <%= link_to "Pesan Sekarang", new_booking_path(room_level: "Business"), class: "book-btn text-decoration-none d-inline-block text-center" %>
              </div>
            </div>
          </div>
        </div>

      <!-- ROOM 4 -->
      <div class="swiper-slide">
        <div class="room-card">
          <div class="room-img">
            <img src="/assets/images/galeri/6.webp" alt="Room">
              <div class="price-tag">Rp 1.200.000 <span>/ Malam</span></div>
            </div>

            <div class="room-content">
              <h2>Kelas Luxury</h2>

              <div class="room-meta">
                <span>👥 2 Tamu</span>
                <span>🛏 2 Kasur</span>
                <span>📶 Wi-Fi</span>
                <span>🚪 Custom Room Service</span>
              </div>

              <div class="room-divider"></div>

              <div class="room-bottom">
                <div></div>
                <%= link_to "Pesan Sekarang", new_booking_path(room_level: "luxury"), class: "book-btn text-decoration-none d-inline-block text-center" %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<!-- ================= FOOTER ================= -->
<footer class="hotel-footer">
  <div class="container">
    <div class="row">

    <!-- ================= KOMENTAR ================= -->
<div class="row mt-5">
  <div class="col-md-12">
    <h4 class="mb-4 fw-bold">Ulasan Pengunjung</h4>

    <!-- LIST KOMENTAR -->
    <div id="commentList" class="comment-list mb-4">
      <div class="comment-item">
        <div class="comment-header">
          <span class="comment-username">andi</span>
        </div>
        <p class="comment-text">
          Hotelnya nyaman banget dan pelayanannya ramah!
        </p>
      </div>
    </div>

    <!-- FORM -->
    <div class="comment-form">

      <input type="text"
             id="commentName"
             class="form-control mb-2"
             placeholder="Username">

      <!-- RATING -->
      <div class="rating mb-2">
        <span class="star" data-value="1">★</span>
        <span class="star" data-value="2">★</span>
        <span class="star" data-value="3">★</span>
        <span class="star" data-value="4">★</span>
        <span class="star" data-value="5">★</span>
      </div>

      <textarea id="commentText"
                class="form-control mb-3"
                rows="3"
                placeholder="Tulis ulasan anda..."></textarea>

      <button id="addCommentBtn"
              class="btn btn-warning px-4">
        Kirim Ulasan
      </button>

    </div>
  </div>
</div>
    
      <div class="col-md-4">
        <h5 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;">MyHtls</h5>
        <p>Hotel yang menyediakan kamar dengan pelayanan terbaik.</p>
      </div>

      <div class="col-md-4">
        <h5 class="footer-toggle" 
            data-bs-toggle="collapse" 
            data-bs-target="#footerTechnology"
            aria-expanded="false">
            Menggunakan
            <i class="bi bi-chevron-down ms-2"></i>
        </h5>

        <ul class="footer-list collapse" id="footerTechnology">
            <li>Bootsrap 5</li>
            <li>Javascript</li>
            <li>Ruby On Rails</li>
            <li>MySQL</li>
        </ul>
        </div>

      <div class="col-md-4">
        <h5 class="footer-toggle" 
            data-bs-toggle="collapse" 
            data-bs-target="#footerInfo"
            role="button"
            aria-expanded="false">
            Informasi
            <i class="bi bi-chevron-down ms-2"></i>
        </h5>

        <ul class="footer-list collapse" id="footerInfo">
            <li><a href="about.html">About Us</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
        </ul>
        </div>


    </div>

    <hr>

    <p class="text-center mb-0">
      © 2026 Hotelucu. All rights reserved.
    </p>
  </div>
</footer>

<% content_for :scripts do %>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/assets/js/home.js"></script>
<% end %>
